# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Generated data (optional)
# data/raw_data.json
# data/leaderboard.json